<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/css/bootstrap.min.css"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    />

    <title>Weather APi</title>
  </head>
  <body class="d-flex vw-100 vh-100 align-items-center justify-content-center">
    <form action="/weather" >
        <div class="mb-3">
            <select class="form-select" name="address" aria-label="Default select example">
                <option selected>Select a City</option>
                <option value="Karachi">Karachi</option>
                <option value="Lahore">Lahore</option>
                <option value="Islamabad">Islamabad</option>
               </select>
           </div>
           <button class="btn btn-success" type="submit">Check Weather</button>
       </form>
       

    
  </body>
</html>
